.graphics {
  width: 70%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  flex-grow: 1;
  min-height: 600px;
}
.graphics_container {
  display: flex;
  gap: 31px;
  height: 630px;
}
.radar {
  height: 30%;
  display: flex;
  gap: 31px;
}
.radarg{
        border-radius: 5px;
        width: 30%;
        max-height: 263px;
        background-color: #282D30;
        padding: 5px;
}
.stats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}
