.error {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
}

.error h2 {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 30px;
}

.error div {
        margin: 10px;
}
.error div a {
        text-decoration: none;
        color: red;
        padding: 10px 20px;
        border-radius: 5px;
}
.error div a:hover {
        background-color: #FF000033;
}