@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
}

#root {
        min-width: 1024px;
        width: 100%;
        min-height: 780px;
        height: 100vh;
        display: flex;
}

.App {
        
        display: flex;
        flex-direction: column;
        width: 100%;
}
main {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
}